body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	position: fixed;
	background-color: black;
}

html, body, .game {
	height: 100%;
}

.game {
	width: 100%;
	position: absolute;
}

.chatbox {
	/* Bottom of the screen and scroll upwards */
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 30%;
	padding: 20px;
}

.chatentry {
	/* Hidden by default */
	display: none;
}
